<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="/css/header.css">
</head>
<html>
  <header>
    <h1 class="logo">lol</h1>
    <div class="user-btn">
      <a href="/logout" class="user-logout">Logout</a>
      <div class="user-icon"></div>
      <div class="user-name">
        <p> <%= user %> </p>
      </div>
    </div>
  </header>
</html>
